.signin {
    height: 600px;
    /* margin-bottom: 5rem; */
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

}

.signup-left {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 2rem;
}

.signup-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #6254F3;
    display: flex;
    align-items: flex-end;

}

.signin-form {
    padding: 1rem 0 0 2rem;
    width: 500px;
    height: 600px;
    /* border: 1px solid red; */
    /* box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05); */
}

.signin-form p {
    margin-top: 2rem;
    padding-left: 4rem;
}

.signin-form p span {
    color: #6254F3;
    cursor: pointer;
}


.signin-form h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #6254F3;

}

.signin-form h2 {
    padding-bottom: 2rem;
    font-size: 40px;
    font-weight: 800;
}


.signin-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signin-form form div {
    display: flex;
    flex-direction: column;
}

.signin-form form button {
    margin-top: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.4rem 1.5rem;
    background-color: #6254F3;
    border: none;
    border-radius: 5px;
    color: white;
}
.signin-form form button:hover{
    background-color: #A2A0FF;
    color: black;
    cursor: pointer;
    transform: scale(1.03);
}

.signin-form form input {
    padding-left: 1rem;
    color: white;
    background-color: #a7a1f3;
    height: 40px;
    width: 400px;
    outline: none;
    border: none;
}

.signup-right img {
    width: 400px;
    margin-left: -150px;

}

@media (max-width:990px) {
    .signup-right {
        display: none;
    }

    .signup-left {
        justify-content: center;
        align-items: flex-start;
    }
    .signin {
        height: 400px;
    }
}

@media (max-width:460px) {

    .signin-form form input {


        height: 40px;
        width: 300px;

    }

    .signin-form p {
        margin-top: 2rem;
        padding-left: 1rem;
    }
}

@media (max-width:370px) {

    .signin-form form input {


        height: 40px;
        width: 250px;

    }
    .signup-left {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .signin-form p {
        margin-top: 2rem;
        padding-left: 0rem;
    }
}

@media (max-width:300px) {

    .signin-form form input {


        height: 40px;
        width: 200px;

    }

    .signin-form p {
        margin-top: 2rem;
        padding-left: 0rem;
    }
}